@{
string email = Request.Form["email"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />  
    <title>Welocme to BYFS!</title>
    <link rel="stylesheet"  href="css/byfs.css" type="text/css" media="screen" />
    <script lang="javascript">
        function getDate() {
            var Today = new Date();
            var formattedDate = (Today.getMonth() + 1) + "-" +
            Today.getDate() + "-" + Today.getFullYear();
            document.getElementById("datetext").innerHTML = formattedDate;
        }
    </script>
</head>
<body onload="getDate()">
    <div id="page_header">
        <div id="corp_logo"> 
            <p style="color: white;">Do What You Do Right!</p>
        </div>
        <div id="page_menu">
            <userlist>
                <list><a href="home.html">Home</a></list>
                <list><a href="services.html">Services</a></list>
                <list><a href="history.html">History</a></list>
                <list><a href="contact.html">Contact</a></list>
            </userlist>     
        </div>  
   </div>
    <div id="page_body">
     <br/>
     <p>Thank you, @email - we look forword to connecting with you!</p>
     <a href="home.html">Back to home page </a>
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
     <p  id="datetext">---</p>
    </div>
    <p>copyright 2015 - Catapult Health.
       All rigts reservid </p>
    </body>
</html>